body{
  background-image:url('bandeja.png') ;
  background-size: cover;
  background-color: rgb(255,127,80);
  opacity: 0,8;
  

 }
#texto{
  background-color: rgb( 255,127,80);
    opacity: 0.8;
    text-align: center;
    border: 5px antiquewhite solid;
}
 
 a:link{
    color: white;
}
a:visited{
  color: white;
}
a:hover{
 color: black;
}
a:active{
    color: aqua;
}